<%- include("partials/header.ejs") %>

    <div class="main__header-container">
        <h1 class="main__header-text">Edit Post</h1>
    </div>

    <div class="create__form-container">
        <form action="/edit/<%= post.id %>" method="POST">
            <div class="create__input-separator">
                <input type="text" name="title" placeholder="Title" autocomplete="off" value="<%= post.title %>" required />
                <input type="text" name="author" placeholder="Author" autocomplete="off" value="<%= post.author %>" required />
            </div>
            <textarea name="content" placeholder="Content" required><%= post.content %></textarea>
            <button type="submit">Save Changes</button>
        </form>
    </div>


<%- include("partials/footer.ejs") %>