<%- include("partials/header.ejs") %>

    <div class="view__header-container">
        <h1 class="view__header-text"><span><%= post.title %></span></h1>
        <p class="view__header-text-date"><%= post.createdAt %></p>
        <p class="view__header-text-author"><%= post.author %></p>
   </div>

    <div class="view__content">
        <div class="view__all-content">
            <%= post.content %>
        </div>
    </div>
  


<%- include("partials/footer.ejs") %>